<div class="row">
  <div class="col-md-6">

    <div class="card mb-4">
      <div class="card-body">
        Wir tauschen gar keine privaten Daten. Verstoss wird mit entfernen und Geldstrafe geahndet!
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        Wir jammern nicht dass nix los ist, wir stellen Tatsachen fest, der oder der Kunde war da, oder es war nichts los.
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        Gibt es technische Kinderkrankheiten im Chat? Gleich melden!
      </div>
    </div>

  </div>
  <div class="col-md-6">

    <div class="card mb-4">
      <div class="card-body">
        Wir machen keine Plapperstunde und tauschen uns bis ins private Detail aus.
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        Der Chat ist für Absprache der Ablösung! Wer ist drin! Welcher Kunde ist drin?
      </div>
    </div>

  </div>
</div>