<div class="row">
  <div class="col-md-12 card mb-4 card-body">
    Chatiquette!!!! ANMELDUNG IST PFLICHT!!!!
  </div>
  <div class="col-md-6">

    <div class="card mb-4">
      <div class="card-body">
        Wir tauschen gar keine privaten Daten oder adden jemanden den wir noch nicht kennen. Verstoss wird mit entfernen und Geldstrafe   geahndet!
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        Wir jammern nicht dass nix los ist, wir stellen Tatsachen fest, der oder der Kunde war da, oder es war nichts los.
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        Wir machen keine Plapperstunde und tauschen uns bis ins private Detail aus. Ausnahme ist da die Quasselgruppe, da könnt ihr auch Blödeln und alles machen. Diese ist Stummgeschaltet.
      </div>
    </div>

  </div>
  <div class="col-md-6">

    <div class="card mb-4">
      <div class="card-body">
        Der Chat ist für Absprache der Ablösung! Wer ist drin!
        Welcher Kunde ist drin? Hilferufe! Anmeldung und Übergabe
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        Gibt es technische Kinderkrankheiten im Chat? Gleich melden!
      </div>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        Wir sind nett zueinander, wir haben einen netten Umgangston und gehen die Kolleginnen und Kollegen nicht pampig an.
      </div>
    </div>

  </div>
</div>