<p id="notice"><%= notice %></p>

<p>
  <strong>Inhalt:</strong>
  <%= @admin_notification.body %>
</p>

<%if current_user.superadmin?%>
  <%= link_to 'Bearbeiten', edit_anotification_path(@admin_notification) %> |
<%end%>
